*.swo
*.swp
*.swn

*.lo
*.o

Makefile
Makefile.in
aclocal.m4
autom4te.cache/
cfg/
config.h
config.h.in
config.h.in~
config.log
config.status
configure
deps/libev-4.11/.deps/
deps/libev-4.11/.libs/
deps/libev-4.11/Makefile
deps/libev-4.11/ev.lo
deps/libev-4.11/ev.o
deps/libev-4.11/event.lo
deps/libev-4.11/event.o
deps/libev-4.11/libev.la
libtool
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
src/cometd.lo
src/cometd.o
src/json.lo
src/json.o
src/libcometd.la
src/main
src/main.o
stamp-h1
tests/.deps/
tests/.libs/
tests/Makefile
tests/Makefile.in
tests/check_cometd
tests/check_cometd-check_cometd.o
tests/check_cometd-test_helper.o
